

.red{
    color: red;
}
body{
    font-family: Roboto, sans-serif;
}
.icon{
    font-size: 50px;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.round{
    width: 100px;
    height: 100px;
    background: black;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
    margin-bottom: 20px;;
}
.pink-hover:hover{
    color:$pink;
}
.elemImg{
    width: 150px;
    height: 150px;
}