.dropdown {
    position: relative;
    display: inline-block;
  }
.dropdown-content{
    display: none;
    position: absolute;
    margin: 0;
}
.dropdown:hover .dropdown-content {display: block;}
.nav-link:hover .dropdown-item:hover{
    background-color: $red;

}